* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow", Arial, sans-serif;
    background-color: #2f3033;
}

main {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #161617;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s;
}

.sidebar.collapsed {
    width: 100px;
}


.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    width: 100%;
    position: relative;
}

.sidebar.collapsed.sidebar-header img {
    margin: 0 auto;
}

.logo {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
    transition: opacity 0.3s;
}



.title {
    font-size: 1.2em;
    font-weight: bold;
    transition: opacity 0.3s;
}

.sidebar.collapsed .title {
    display: none;
    opacity: 0;
}

.toggle-btn {
    position: absolute;
    right: 0px;
    background: none;
    border: none;
    color: #925FE2;
    font-size: 1.2em;
    cursor: pointer;
}

.sidebar.collapsed .toggle-btn {
    transform: rotate(180deg);
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.menu-item {
    width: 100%;
}

.menu-link {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    font-weight: bold;
    color: #C8AFF1;
    text-decoration: none;
    transition: background-color 0.3s;
}

.sidebar.collapsed .menu-link {
    display: flex;
    justify-content: center;
}

.sidebar.collapsed.icon {
    justify-content: center;
}

.menu-link:hover,
.menu-item.active .menu-link {
    background-color: rgba(146, 95, 226, 0.25);
}

.icon {
    margin-right: 15px;
    width: 20px;
    transition: margin 0.3s, width 0.3s;
}

.sidebar.collapsed .icon {
    margin-right: 0;
    width: 20px;
}

.text {
    font-size: 0.9em;
    transition: opacity 0.3s;
}

.sidebar.collapsed .text {
    opacity: 0;
    display: none;
}

.sidebar .profile {
    display: none;
}


.menu-item.active .menu-link {
    background-color: rgba(146, 95, 226, 0.25);
    border-left: 5px solid #925FE2;
    color: #FFFFFF;
}

.logout {
    margin-top: auto;
}



.content {
    background-color: #2f3033;
    flex: 1;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.content .content-header {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: none;
}

.align-form {
    width: 70%;
}

.content .content-header .form {
    background-color: white;
    border-radius: 20px;
}

.content .content-header .input-container {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.content .content-header .input-container input {
    width: calc(100% - 40px);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
}

.content .content-header .input-container input:focus {
    outline: none;
    box-shadow: none;
}


.content .content-header .input-container i {
    position: absolute;
    left: 10px;
    transform: translateY(-50%);
    top: 50%;
    color: #ccc;
}


.profile {
    display: flex;
    align-items: center;
    border-left: 2px solid white;
    padding-left: 15px;
}

.profile .profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 18px;
}

.profile .profile-info {
    display: flex;
    margin-right: 15px;
    margin-left: 10px;
    flex-direction: column;
    color: white;

}

.profile .profile-name {
    font-weight: bold;
}

.profile .role {
    font-size: 14px;
    color: #ccc;
}

.profile svg {
    color: #7852b4;
}


.content-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    gap: 30px;
}

@media (min-width:650px) and (max-width:1000px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 40%;
        transform: translateX(-150%);
        transition: transform 0.3s ease;
        z-index: 10;
    }

    .toggle-btn {
        display: none;
    }

    .open {
        display: block;
        transform: translateX(0);
    }


    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 5;
        display: none;
    }

    .overlay.show {
        display: block;
    }

    .content {
        width: 100%;
    }

    .menu {
        display: block;
        font-size: 30px;
        color: white;
        margin-bottom: 10px;
    }
}

@media (min-width:300px) and (max-width:649px) {
    .sidebar .profile {
        display: flex;
        justify-content: start;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        padding: 15px 20px;
        border-left: 0;
        border-bottom: 1px solid #C8AFF1;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 60%;
        transform: translateX(-150%);
        transition: transform 0.3s ease;
        z-index: 10;
    }
    .toggle-btn {
        display: none;
    }

    .open {
        display: block;
        transform: translateX(0);
    }


    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 5;
        display: none;
    }

    .overlay.show {
        display: block;
    }

    .content {
        width: 100%;
    }

    .menu {
        display: block;
        font-size: 30px;
        color: white;
        margin-bottom: 10px;
    }

    .content .profile img,
    .content .profile .profile-info {
        display: none;
    }

    .content-header .profile {
        display: flex;
        align-items: end;
    }

    .align-form {
        min-width: 320px;
    }

}